h1,
h2 {
  font-family: Lato;
}

div {
  margin: 20px;
}

.square {
  width: 100px;
  height: 100px;
  background-color: red;
}

.rectangle {
  width: 200px;
  height: 100px;
  background-color: red;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: red;
}

.triangle-up {
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 100px solid red;
}
.triangle-down {
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-top: 100px solid red;
}
.triangle-left {
  width: 0;
  height: 0;
  border-top: 100px solid transparent;
  border-right: 100px solid red;
  border-bottom: 100px solid transparent;
}
.triangle-right {
  width: 0;
  height: 0;
  border-top: 100px solid transparent;
  border-left: 100px solid red;
  border-bottom: 100px solid transparent;
}

.flag {
  position: relative;
  width: 200px;
  height: 0;
  border-top: 100px solid blue;
  border-left: 100px solid white;
  border-bottom: 100px solid red;
}

.luzon {
  width: 100px;
  height: 100px;
  position: absolute;
  top: -150px;
  left: -235px;
}
.vizayas {
  width: 100px;
  height: 100px;
  position: absolute;
  top: -75px;
  left: -160px;
}
.mindanao {
  width: 100px;
  height: 100px;
  position: absolute;
  top: -5px;
  left: -235px;
}
.star-five {
  position: relative;
  display: block;
  width: 0px;
  height: 0px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid yellow;
  border-left: 100px solid transparent;
  transform: rotate(35deg) scale(0.1);
}
.star-five:before {
  border-bottom: 95px solid yellow;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -56px;
  left: -64px;
  display: block;
  content: "";
  transform: rotate(-34.5deg);
}
.star-five:after {
  position: absolute;
  display: block;
  top: 3px;
  left: -105px;
  width: 0px;
  height: 0px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid yellow;
  border-left: 100px solid transparent;
  transform: rotate(-70deg);
  content: "";
}
.sun {
  position: absolute;
  top: -80px;
  left: -150px;
}
.sun-8 {
  background: yellow;
  width: 80px;
  height: 80px;
  position: relative;
  text-align: center;
  transform: rotate(20deg) scale(.3);
}
.sun-8:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 80px;
  width: 80px;
  background: yellow;
  transform: rotate(135deg);
}
.ray {
  position: relative;
}
.main-ray {
  width: 40px;
  height: 140px;
  left: 50px;
  background: green;
  clip-path: polygon(50% 0%, 100% 8%, 70% 100%, 30% 100%, 0% 8%);
}

.left-side-ray {
  width: 40px;
  height: 140px;
  position: relative;
  background: red;
  clip-path: polygon(100% 0%, 100% 0%, 70% 100%, 30% 100%, 0% 8%);
}
