div {
  margin: 20px;
}

.flag {
  --color: rgb(226, 226, 14);
  color: rgb(226, 226, 14);
  position: relative;
  width: 200px;
  height: 0;
  border-top: 100px solid blue;
  /* For an equilateral triangle it’s worth pointing out that the height is 86.6% of the width so (border-left-width + border-right-width) * 0.866% = border-bottom-width */
  border-left: 173.2px solid white;
  border-bottom: 100px solid red;
}

.luzon {
  width: 100px;
  height: 100px;
  position: absolute;
  top: -145px;
  left: -295px;
}
.vizayas {
  width: 100px;
  height: 100px;
  position: absolute;
  top: -75px;
  left: -175px;
}
.mindanao {
  width: 100px;
  height: 100px;
  position: absolute;
  top: -10px;
  left: -295px;
}
.star-five {
  position: relative;
  display: block;
  width: 0px;
  height: 0px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid var(--color);
  border-left: 100px solid transparent;
  transform: rotate(35deg) scale(0.1);
}
.star-five:before {
  border-bottom: 95px solid var(--color);
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -56px;
  left: -64px;
  display: block;
  content: "";
  transform: rotate(-34.5deg);
}
.star-five:after {
  position: absolute;
  display: block;
  top: 3px;
  left: -105px;
  width: 0px;
  height: 0px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid var(--color);
  border-left: 100px solid transparent;
  transform: rotate(-70deg);
  content: "";
}
.sun {
  position: relative;
  top: -50px;
  left: -210px;
  transform: scale(0.1);
}
.sun .circle {
  background: var(--color);
  width: 180px;
  height: 180px;
  position: absolute;
  top: 160px;
  left: -30px;
  border-radius: 50%;
}

.sun .rays {
  position: relative;
  /* transform: scale(.1) */
}

.rays .ray-1 {
  position: absolute;
}

.rays .ray-2 {
  position: absolute;
  transform: rotate(45deg);
  top: 0px;
  left: 0px;
}

.rays .ray-3 {
  position: absolute;
  transform: rotate(90deg);
  top: 0px;
  left: 0px;
}

.rays .ray-4 {
  position: absolute;
  transform: rotate(135deg);
  top: 0px;
  left: 0px;
}

.rays .ray-5 {
  position: absolute;
  transform: rotate(180deg);
  top: 0px;
  left: 0px;
}

.rays .ray-6 {
  position: absolute;
  transform: rotate(225deg);
  top: 0px;
  left: 0px;
}

.rays .ray-7 {
  position: absolute;
  transform: rotate(270deg);
  top: 0px;
  left: 0px;
}

.rays .ray-8 {
  position: absolute;
  transform: rotate(315deg);
  top: 0px;
  left: 0px;
}

.left-side-ray {
  width: 20px;
  height: 140px;
  position: relative;
  left: -20px;
  background: var(--color);
  clip-path: polygon(100% 11%, 100% 11%, 70% 100%, 30% 100%, 0% 18%);
  transform: rotate(-9deg);
}

.main-ray {
  width: 40px;
  height: 140px;
  position: relative;
  top: -160px;
  background-color: var(--color);
  clip-path: polygon(50% 0%, 100% 8%, 70% 100%, 30% 100%, 0% 8%);
}

.right-side-ray {
  width: 20px;
  height: 140px;
  position: relative;
  top: -320px;
  left: 40px;
  background: var(--color);
  clip-path: polygon(100% 18%, 100% 18%, 70% 100%, 30% 100%, 0% 11%);
  transform: rotate(9deg);
}
